@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /*color: var(--foreground);
  background: var(--background);*/
  background-color: #f3f4f6;
  font-family: Arial, Helvetica, sans-serif;
}
* {
  @apply box-border transition-all duration-200 ease-in-out; /* Use box model consistently */
  font-family: var(--body-font);
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font);
  font-weight: 600;
}
